@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-field {
    @apply w-3/5 px-2 py-1 border-2 rounded-md sm:text-lg dark:bg-primary-900 border-primary-200 dark:focus:border-primary-400 dark:border-primary-800 focus:border-primary-500 focus:outline-none;
  }

  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme('colors.primary.900');
    border-right-color: theme('colors.primary.200');
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme('colors.primary.200');
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}
